@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais simples */
body {
  @apply bg-slate-100 text-slate-800;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

#root {
  @apply min-h-screen;
}
